<div class="w-full">
  <section aria-labelledby="photos-heading" class="bg-white max-w-4xl mx-auto">
    <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
      <div class="px-4 py-16 sm:px-6 lg:px-8">
        <h1 id="photos-heading" class="text-3xl font-bold tracking-tight text-gray-900"><%= t(".title") %></h1>
        <p class="mt-4 max-w-xl text-sm text-gray-700"><%= t(".description") %></p>
      </div>

      <div class="ml-4 mt-2 flex-shrink-0">
        <%= link_to t("back"), admin_photos_path, class: "button mr-2" %>
        <button class="button-accented" form="<%= dom_id(@photo) %>"><%= t(".save_photo") %></button>
      </div>
    </div>
  </section>

  <%= render partial: "form", locals: { photo: @photo } %>
</div>
