<header class="bg-white/80 sm:bg-transparent sticky top-0">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 px-4 sm:p-1 sm:pt-4" aria-label="Global">
    <div class="flex lg:flex-1 text-gray-900">
      <%= link_to root_path, class: "text-gray-900 hover:text-gray-700" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 h-6 w-6">
          <path d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"></path>
        </svg>
      <% end %>

      <%= link_to t("name"), about_path, class: "text-gray-900 hover:text-gray-700" %>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <%= button_to "Subscribe to Notifications", "#", data: { controller: "notifications", action: "notifications#subscribe", "notifications-target": "subscribeButton" }, id: "subscribe-button" %>
    </div>

    <div class="flex flex-1 justify-end">
      <%= link_to t("top"), "#top", class: "text-gray-900 hover:text-gray-700" %>
    </div>

  </nav>
</header>

<section class="bg-white sm:max-w-4xl mx-auto mt-8" id="top">
  <div class="grid grid-cols-1 md:grid-cols-6 gap-32">
    <%- left = Date.today.day % 2 == 0 -%>
    <% @photos.each_with_index do |photo, index| %>
      <%- portrait = photo.image.metadata[:width] < photo.image.metadata[:height] -%>
      <% if portrait & left %>
        <div class="col-span-1 md:col-span-4">
          <%= render partial: 'photo', locals: { photo: photo, index: index } %>
        </div>
        <div class="hidden md:block">
        </div>
      <% elsif portrait & !left %>
        <div class="hidden md:block">
        </div>
        <div class="col-span-1 md:col-span-4">
          <%= render partial: 'photo', locals: { photo: photo, index: index } %>
        </div>
      <% else %>
        <div class="col-span-1 md:col-span-6">
          <%= render partial: 'photo', locals: { photo: photo, index: index } %>
        </div>
      <% end %>
    <% end %>
</section>
