<header class="bg-white/80 sm:bg-transparent sticky top-0">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 px-4 sm:p-1 sm:pt-4" aria-label="Global">
    <div class="flex lg:flex-1 text-gray-900" data-controller="notifications" data-notifications-subscribe-value="<%= push_subscriptions_path %>" data-notifications-unsubscribe-value="<%= push_subscriptions_path %>">
      <%= link_to root_path, class: "text-gray-900 hover:text-gray-700" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 h-6 w-6">
          <path d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"></path>
        </svg>
      <% end %>

      <%= link_to t("name"), about_path, class: "text-gray-900 hover:text-gray-700 mr-8" %>

      <%= button_to "#", data: { action: "notifications#subscribe", "notifications-target": "subscribeButton" }, class: "hidden" do %>
        <div class="relative flex size-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-gray-700 hover:text-gray-900 absolute inline-flex h-full w-full" data-notifications-target="subscribeIcon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-700 hover:text-gray-900">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
          </svg>
        </div>
      <% end %>
      <%= button_to "#", data: { action: "notifications#unsubscribe", "notifications-target": "unsubscribeButton" }, class: "hidden" do %>
        <div class="relative flex size-6">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-gray-700 hover:text-gray-900 absolute inline-flex h-full w-full" data-notifications-target="unsubscribeIcon">
            <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z" clip-rule="evenodd" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-gray-700 hover:text-gray-900">
            <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z" clip-rule="evenodd" />
          </svg>
        </div>
      <% end %>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
    </div>

    <div class="flex flex-1 justify-end">
      <%= link_to t("top"), "#top", class: "text-gray-900 hover:text-gray-700" %>
    </div>

  </nav>
</header>

<section class="bg-white sm:max-w-4xl mx-auto mt-8 mb-12" id="top">
  <div class="grid grid-cols-1 md:grid-cols-6 gap-32" id="photos">
    <%= render partial: 'photos', locals: { photos: @photos, pagy: @pagy } %>
  </div>
</section>
