<header class="bg-white/80 sm:bg-transparent sticky top-0">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 px-4 sm:p-1 sm:pt-4" aria-label="Global">
    <div class="flex lg:flex-1 text-gray-900">
      <%= link_to root_path, class: "text-gray-900 hover:text-gray-700" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 h-6 w-6">
          <path d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"></path>
        </svg>
      <% end %>

      <span><%= t("name") %></span>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
    </div>

    <div class="flex flex-1 justify-end">
    </div>
  </nav>
</header>

<article class="bg-white sm:max-w-4xl mx-auto mt-8" id="top">
  <div class="container mx-auto px-4 py-8">
    <p class="text-gray-600 mb-6"><%= t("about_1") %></p>
    <p class="text-gray-600 mb-4"><%= t("about_2") %></p>
    <p class="text-gray-600 mb-4"><%= t("about_3") %></p>
    <p class="text-gray-600 mb-4"><%= t("about_4") %></p>
    <p class="text-gray-600 mb-4"><%= t("about_me") %> <%= link_to "https://foto.mariochavez.io", "https://foto.mariochavez.io", target: "_blank", class: "font-semibold text-gray-900 hover:text-sky-700" %></p>

    <p class="text-gray-600 mt-8 mb-2"><%= t("copyright") %></p>
    <p class="text-gray-600 mb-4 text-sm italic"><%= t("copyright_notice") %></p>
  </div>
</article>
